<div class="modal fade"
     id="loginTipsModal"
     tabindex="-1"
     aria-labelledby="loginTipsLabel"
     aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="login-tips-container">
        <div class="login-tips-content">
          <div class="icon-circle">
            <i class="bi bi-lock"></i>
          </div>
          <h2 class="modal-title">Login Assistance & Tips</h2>
          <p class="modal-subtitle">Review these quick tips to ensure a secure and successful login to the PNM Automation Portal.</p>
          <ul style="text-align: left;">
              <li><strong>Use SSO:</strong> For maximum security and convenience, always prefer the "Sign In With Maximus SSO" option.</li>
              <li><strong>Clear Credentials:</strong> If you are using a shared or public device, ensure you uncheck the device persistence box below the password field.</li>
              <li><strong>Check Caps Lock:</strong> Passwords are case-sensitive. Ensure your Caps Lock key is not accidentally enabled.</li>
              <li><strong>Account Recovery:</strong> If you encounter issues, use the "Forgot user name?" or "Forgot password?" links to quickly regain access to your account.</li>
          </ul>
          <div class="return-link" (click)="returnToLogin()">
            <i class="bi bi-arrow-left"></i>
            <span>Return back to login page</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


















