.modal-header {
  background: #f0f3f7 !important;
}
.modal-title {
  font-size: 1.1rem;
  color: #374151 !important;
}
.modal-body {
  padding: 2rem !important;
}

:host ::ng-deep select.form-select {
  height: 44px !important;
  width: auto !important;
}
:host ::ng-deep .form-control {
  height: 44px !important;
}
