<div class="modal fade"
     id="registerTipsModal"
     tabindex="-1"
     aria-labelledby="registerTipsLabel"
     aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="register-tips-container">
        <div class="register-tips-content">
          <div class="icon-circle">
            <i class="bi bi-lock"></i>
          </div>
          <h2 class="modal-title">Registration Guidelines</h2>
          <p class="modal-subtitle">Follow these guidelines to successfully create your account for the PNM Automation Portal.</p>
          <ul style="text-align: left;">
            <li><strong>Username:</strong> Choose a unique identifier. This is what you will use to Sign In if you don't use SSO.</li>
            <li><strong>Email Address:</strong> Must be a valid email address. This is essential for verification, account recovery, and official communications.</li>
            <li><strong>Password Strength:</strong> Ensure your password meets the security requirements (usually length, mixed cases, numbers, and symbols).</li>
            <li><strong>Shared Devices:</strong> If you are registering from a shared or public computer, avoid saving credentials and log out after use.</li>
          </ul>
          <div class="return-link" (click)="returnToRegister()">
            <i class="bi bi-arrow-left"></i>
            <span>Return back to register page</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


















