<div class="container my-5 p-4 shadow-sm bg-white rounded- 4 user-form-wrapper">
  <h4 class="headerTitle">
    {{ user.userId ? "Edit User" : "Add New User" }}
  </h4>
  <div class="brand-underline"></div>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="row">
      <!-- Left Column -->
      <div class="col-md-6">
        <!-- <h5 class="mb-3">User Details</h5>-->

        <div class="mb-3">
          <label class="form-label">First Name *</label>

          <input
            name="firstName"
            class="form-control"
            [(ngModel)]="user.firstName"
            required
            #firstName="ngModel"
            [ngModelOptions]="{ updateOn: 'blur' }"
          />

          <div
            class="text-danger small"
            *ngIf="firstName.invalid && firstName.touched"
          >
            First Name is required.
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Last Name *</label>
          <input
            name="lastName"
            class="form-control"
            [(ngModel)]="user.lastName"
            required
            #lastName="ngModel"
            [ngModelOptions]="{ updateOn: 'blur' }"
          />
          <div
            class="text-danger small"
            *ngIf="lastName.touched && lastName.invalid"
          >
            Last Name is required.
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Phone Number *</label>
          <input
            name="phoneNumber"
            class="form-control"
            [(ngModel)]="user.phoneNumber"
            required
            minlength="10"
            #phone="ngModel"
            [ngModelOptions]="{ updateOn: 'blur' }"
          />
          <div class="text-danger small" *ngIf="phone.touched && phone.invalid">
            <span *ngIf="phone.errors?.['required']"
              >Phone Number is required.</span
            >
            <span *ngIf="phone.errors?.['minlength']"
              >Minimum 10 digits required.</span
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Username *</label>
          <input
            name="username"
            class="form-control"
            [(ngModel)]="user.userName"
            required
            #username="ngModel"
            [ngModelOptions]="{ updateOn: 'blur' }"
          />
          <div
            class="text-danger small"
            *ngIf="username.touched && username.invalid"
          >
            Username is required.
          </div>
        </div>

        <!-- Two-factor -->
        <div class="mb-3">
          <label class="form-label">Two-Factor Authentication *</label>
          <select
            name="twoFactor"
            class="form-control"
            [(ngModel)]="user.twoFactor"
            required
            #twoFactor="ngModel"
            [ngModelOptions]="{ updateOn: 'blur' }"
          >
            <option value="" disabled selected>Select two factor</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <div
            class="text-danger small"
            *ngIf="twoFactor.touched && twoFactor.invalid"
          >
            Two-factor selection is required.
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Role *</label>
          <select
            name="role"
            class="form-select"
            [(ngModel)]="user.roleId"
            required
            #role="ngModel"
            [ngModelOptions]="{ updateOn: 'blur' }"
          >
            <option [ngValue]="null">Select</option>
            <option *ngFor="let r of roles" [ngValue]="r.roleId">
              {{ r.roleName }}
            </option>
          </select>
          <div class="text-danger small" *ngIf="role.touched && role.invalid">
            Role is required.
          </div>
        </div>

        <!-- Time Zone -->
        <div class="mb-3">
          <label class="form-label">Time Zone *</label>
          <select
            name="timeZone"
            class="form-control"
            [(ngModel)]="user.timeZone"
            required
            #timezone="ngModel"
            [ngModelOptions]="{ updateOn: 'blur' }"
          >
            <option value="" disabled selected>Select a time zone</option>
            <option *ngFor="let tz of timeZones" [value]="tz.timeZoneId">
              {{ tz.timeZoneName }}
            </option>
          </select>
          <div
            class="text-danger small"
            *ngIf="timezone.touched && timezone.invalid"
          >
            Time Zone is required.
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-md-6">
        <!-- <h5 class="mb-3">Additional Info</h5>-->
        <div class="mb-3">
          <label class="form-label">Email Address *</label>
          <input
            name="email"
            type="email"
            class="form-control"
            [(ngModel)]="user.email"
            required
            email
            #email="ngModel"
            placeholder="email@domain.com"
            [ngModelOptions]="{ updateOn: 'blur' }"
          />
          <div class="text-danger small" *ngIf="email.touched && email.invalid">
            <span *ngIf="email.errors?.['required']">Email is required.</span>
            <span *ngIf="email.errors?.['email']">Invalid email format.</span>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Profile Picture Upload</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="user.photo"
              name="photo"
              placeholder="Image URL"
            />

            <input
              type="file"
              #fileInput
              style="display: none"
              (change)="onFileChange($event)"
            />
            <button class="input-group-text" (click)="fileInput.click()">
              <i class="bi bi-upload"></i>
            </button>
          </div>
        </div>

        <div class="mb-3" *ngIf="!user.userId">
          <label class="form-label">Password *</label>
          <input
            type="password"
            name="password"
            class="form-control"
            [(ngModel)]="user.password"
            required
            minlength="6"
            #password="ngModel"
            [ngModelOptions]="{ updateOn: 'blur' }"
          />
          <div
            class="text-danger small"
            *ngIf="password.touched && password.invalid"
          >
            <span *ngIf="password.errors?.['required']"
              >Password is required.</span
            >
            <span *ngIf="password.errors?.['minlength']"
              >Minimum 6 characters required.</span
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Teams/Projects</label>
          <input
            name="teams"
            class="form-control"
            [(ngModel)]="user.teams"
            placeholder="e.g. Regression, Development"
          />
        </div>
        <!-- Status -->
        <div class="mb-3">
          <label class="form-label">Status *</label>
          <select
            name="status"
            class="form-control"
            [(ngModel)]="user.status"
            required
            #status="ngModel"
            [ngModelOptions]="{ updateOn: 'blur' }"
          >
            <option value="" disabled selected>Select a status</option>
            <option *ngFor="let s of statuses" [value]="s.statusId">
              {{ s.statusName }}
            </option>
          </select>
          <div
            class="text-danger small"
            *ngIf="status.touched && status.invalid"
          >
            Status is required.
          </div>
        </div>

        <!-- Priority (optional) -->
        <div class="mb-3">
          <label class="form-label">Priority</label>
          <select
            name="priority"
            class="form-control"
            [(ngModel)]="user.priorityId"
            #priority="ngModel"
            [ngModelOptions]="{ updateOn: 'blur' }"
          >
            <!-- Placeholder -->
            <option value="" selected>Select a priority</option>

            <!-- Actual options -->
            <option *ngFor="let p of priorities" [ngValue]="p.priorityId">
              {{ p.priorityName }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-4 gap-2">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="cancelled.emit()"
      >
        Cancel
      </button>
      <button type="submit" class="btn-purple" [disabled]="!userForm.valid">
        {{ user.userId ? "Update User" : "Add User" }}
      </button>
    </div>
  </form>
</div>
