<div class="table-responsive">
  <app-data-grid
    [columns]="columns"
    [data]="users"
    [pagingMode]="'client'"
    [sortingMode]="'client'"
    [pageSize]="pageSize"
    [pagingEnabled]="true"
    [theme]="'light'"
  ></app-data-grid>
</div>

<ng-template #nameTemplate let-row let-value="value">
  {{ row.firstName }} {{ row.lastName }}
</ng-template>

<ng-template #activeTemplate let-row let-value="value">
  <div class="form-check form-switch">
    <input
      type="checkbox"
      class="form-check-input"
      [checked]="value"
      (change)="toggleActive(row)"
    />
  </div>
</ng-template>

<ng-template #actionsTemplate let-row let-value="value">
  <button class="btn-purple" (click)="editUserClicked(row)">Edit</button>
</ng-template>
