<div class="table-responsive">
  <app-data-grid
    [columns]="columns"
    [data]="users"
    [pagingMode]="'client'"
    [sortingMode]="'client'"
    [pageSize]="pageSize"
    [pagingEnabled]="true"
  ></app-data-grid>
</div>

<ng-template #nameTemplate let-row let-value="value">
  {{ row.firstName }} {{ row.lastName }} <br />
  {{ row.email }}
</ng-template>

<ng-template #priorityTemplate let-row let-value="value">
  <label *ngIf="row.priorityId === 1" class="txt-dblue">Tier 1</label>
  <label *ngIf="row.priorityId === 2" class="txt-teal">Tier 2</label>
  <label *ngIf="row.priorityId === 3" class="txt-ogreen">Tier 3</label>
</ng-template>

<ng-template #statusTemplate let-row let-value="value">
  <button *ngIf="row.status === 1" class="btn btn-success">Active</button>
  <button *ngIf="row.status === 2" class="btn btn-warning">Suspended</button>
  <button *ngIf="row.status === 3" class="btn btn-danger">Pending</button>
</ng-template>

<ng-template #actionsTemplate let-row let-value="value">
  <div class="actions-wrapper">
    <button class="btn-normal" (click)="editUserClicked(row)">Edit</button>

    <div class="form-check form-switch switch-wrapper">
      <input
        type="checkbox"
        class="form-check-input"
        [checked]="row.active"
        (change)="toggleActive(row)"
      />
    </div>

    <button class="btn-normal" (click)="editUserClicked(row)">Reset PW</button>
  </div>
</ng-template>

<ng-template #lastLoginTemplate let-row let-value="value">
  {{ row.lastLogin | date : "yyyy-MM-dd HH:mm" }}
</ng-template>
