.txt-dblue {
  background-color: transparent;
  border: none;
}

.txt-teal {
  background-color: transparent;
  border: none;
}

.txt-ogreen {
  background-color: transparent;
  border: none;
}

.btn-normal {
  background-color: transparent;
}

.actions-wrapper {
  display: flex;
  align-items: center; /* Vertically align everything */
  gap: 10px; /* Space between items */
}

.switch-wrapper {
  margin: 0; /* Remove default bootstrap top margin */
  padding-top: 0;
  display: flex;
  align-items: center; /* Center switch vertically */
}
