<div #galleryModal class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Screenshots</h5>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>

      <div class="modal-body p-0">
        <!-- Your Carousel HTML here -->
        <div class="carousel-container" *ngIf="screenshots?.length">
          <div class="carousel-card">
            <div
              id="mainCarousel"
              class="carousel slide carousel-fade"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  *ngFor="let img of screenshots; let i = index"
                  type="button"
                  data-bs-target="#mainCarousel"
                  [attr.data-bs-slide-to]="i"
                  [class.active]="i === 0"
                ></button>
              </div>

              <div class="carousel-inner">
                <div
                  *ngFor="let img of screenshots; let i = index"
                  class="carousel-item"
                  [class.active]="i === 0"
                >
                  <img [src]="img.screenshot" [alt]="img.caption" />

                  <div class="carousel-caption">
                    <span class="caption-badge">Screenshot</span>
                    <h3>{{ img.caption }}</h3>
                    <p>Taken At: {{ img.takenAt | date : "short" }}</p>
                  </div>
                </div>
              </div>

              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#mainCarousel"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#mainCarousel"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
