<div
  class="modal fade"
  id="forgotPasswordModal"
  tabindex="-1"
  aria-labelledby="forgotPasswordLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="forgot-password-modal-container">
        <div class="forgot-password-modal-content">
          <div class="icon-circle">
            <i class="bi bi-lock"></i>
          </div>
          <h2 class="modal-title">Forgot your password?</h2>
          <p class="modal-subtitle">Enter your email to reset it!</p>
          <form
            (ngSubmit)="submitEmail()"
            [formGroup]="forgotpasswordForm"
            novalidate
          >
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="forgot-password-email"
                formControlName="email"
                class="form-control"
                placeholder="Enter your email"
                [ngClass]="{
                  'is-invalid':
                    forgotpasswordForm.get('email')?.touched &&
                    forgotpasswordForm.get('email')?.invalid
                }"
              />
              <!-- Error message -->
              <div
                *ngIf="email?.touched && email?.invalid"
                class="invalid-feedback d-block"
              >
                <div *ngIf="email?.errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="email?.errors?.['email']">
                  Please enter a valid email address.
                </div>
              </div>
            </div>
            <button type="submit" class="btn-purple half-width w-100">
              Confirm
            </button>
          </form>
          <div class="return-link" (click)="returnToLogin()">
            <i class="bi bi-arrow-left"></i>
            <span>Return back to login page</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
