<div
  class="modal fade"
  id="forgotPasswordModal"
  tabindex="-1"
  aria-labelledby="forgotPasswordLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordLabel">Forgot Password</h5>
        <button
          type="button"
          class="btn-close"
          (click)="modalService.close('forgotPasswordModal')"
        ></button>
      </div>

      <form (ngSubmit)="submitEmail()">
        <div class="modal-body">
          <label for="email">Enter your email</label>
          <input
            [(ngModel)]="email"
            name="email"
            id="email"
            class="form-control"
            type="email"
            required
          />
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Reset</button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="modalService.close('forgotPasswordModal')"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
