.forgot-password-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background: transparent;
}

.forgot-password-modal-content {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(44, 44, 44, 0.15);
  padding: 32px 24px;
  width: 600px;
  text-align: center;
  border: 1px solid #ccc;
}

.icon-circle {
  border: 2px solid #5a2364;
  width: 64px;
  height: 64px;
  background: #5a2364; /* Changed from #5a2364 to blue */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px auto;
}

.icon-circle i {
  color: #fff;
  font-size: 32px;
  padding-bottom: 5px;
}

.modal-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
  font-weight: 500;
}

.modal-subtitle {
  color: #666;
  margin-bottom: 24px;
}

.form-group {
  text-align: left;
  margin-bottom: 24px;
}

.form-control {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #000;
  padding: 12px;
  font-size: 1rem;
  margin-top: 4px;
  margin-bottom: 0;
  resize: none;
}

.form-control.is-invalid {
  border-color: #d32f2f;
}

.invalid-feedback {
  color: #d32f2f;
  font-size: 0.9rem;
  margin-top: 4px;
}

.btn-confirm {
  background: #5a2364;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 12px 0;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.btn-confirm:hover {
  background: #3d1742;
}

.return-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #222;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 5%;
  font-weight: 500;
}

.return-link i {
  margin-right: 8px;
  font-size: 1.2rem;
}

.btn-purple {
  background-color: #6c3483;
  color: white;
  padding: 11px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
}

.btn-purple:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
