<div
  #executionLogsModal
  class="modal fade"
  id="executionLogsModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable"
  >
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title">Full Execution Logs</h5>
        <button class="btn-close" (click)="close()"></button>
      </div>

      <!-- Body -->
      <div class="modal-body p-0">
        <app-execution-logs-viewer
          [logs]="logs"
          [showViewFullButton]="false"
          [showHeader]="false"
        ></app-execution-logs-viewer>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
