<div #executionLogsModal class="modal fade" tabindex="-1">
  <div
    class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Full Execution Logs</h5>
        <button class="btn-close" (click)="close()"></button>
      </div>

      <div class="modal-body p-0">
        <app-execution-logs-viewer
          [logs]="logs"
          [showViewFullButton]="false"
          [showHeader]="false"
        >
        </app-execution-logs-viewer>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
