<div class="queue-manager-container">
  <h4 class="header-h4 text-white">Queue Manager</h4>

  <!-- Queues Table -->
  <div class="table-responsive">
    <app-data-grid
      [columns]="columns"
      [data]="queues"
      [pagingMode]="'client'"
      [sortingMode]="'client'"
      [pageSize]="pageSize"
      [pagingEnabled]="true"
    ></app-data-grid>
  </div>
</div>

<!-- Custom Cell Templates -->
<ng-template #queueNameTemplate let-row let-value="value">
  <a
    (click)="viewQueueDetails(row)"
    class="text-info text-decoration-underline"
  >
    {{ value }}
  </a>
</ng-template>

<ng-template #statusTemplate let-row let-value="value">
  <span
    class="text-uppercase px-2 py-1 rounded-pill fw-semibold"
    [ngClass]="getStatusBadge(value)"
  >
    {{ value }}
  </span>
</ng-template>
