<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="text-center mb-4">Reset Password</h4>

          <form [formGroup]="form" (ngSubmit)="submit()">
            <!-- New Password -->
            <div class="mb-3">
              <label class="form-label">New Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="newPassword"
              />
              <small
                class="text-danger"
                *ngIf="
                  form.controls['newPassword']?.touched &&
                  form.controls['newPassword']?.invalid
                "
              >
                Minimum 8 characters required
              </small>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="confirmPassword"
              />
            </div>

            <!-- Submit -->
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                class="btn-purple w-40"
                [disabled]="loading"
              >
                {{ loading ? "Resetting..." : "Reset Password" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
